* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(230, 228, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}
button {
    color: #000;
}
.player {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    background-color: rgb(255, 255, 255);
    width: 350px;
    border-radius: 50px;
}
.top {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 25px;
    padding-right: 25px;
}
.top button {
    font-size: 18px;
    border: none;
    background-color: transparent;
}
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-bottom: 50px; */
}
.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}
.buttons > #prev, #next {
    display: flex;
    border: none;
    font-size: 20px;
    background-color: transparent;
}
.buttons > #play {
    font-size: 25px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 6, 228);
    border: none;
    color: #fff;
}
.other button {
    border: none;
    background-color: transparent;
    font-size: large;
}
.other {
    display: flex;
    gap: 40px;
}
h3 {
    font-size: 23px;
    font-weight: 600;
}
small {
    font-size: 19px;
}
.music-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle img {
    width: 200px;
    opacity: 0.9;
}

.duration-time {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.progress-cont {
    background: #000;
    border-radius: 5px;
    height: 4px;
    cursor: pointer;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.progress {
    background-color: red;
    width: 0%;
    height: 100%;
    transition: width .1s linear;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    padding-left: ;
  }
  
.sidenav p, .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.sidenav a {
    color: #878787
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menubtn {
    font-size:30px;
    cursor:pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.themenu {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-left: 20px;
    gap: 50px;
}

.songsbtn{
    border: none;
    background: none;
    cursor: pointer;
}

.songsbtn-playing {
    border: none;
    background: none;
    color: green;
    cursor: pointer;
}

.hrt {
    background-color: #878787;
    height: 1px;
}